
body {  background-color:#FFEBCD; }

form { margin:0 auto;
	background-color: #eeeeee;
  width:400px;
  padding:1em;
  border:1px solid black;
  border-radius: 1em;
}

form div+div{
  margin-top: 1em;
}
  label{

    display:inline-block;
     width: 160px;
    text-align: right;
  }
  input{
    font:1em Arial;
    width: 200px;
    -moz-box-sizzing:border-box
    box-sizzing:border-box
  }
  input:focus{
    border-color: #000;
  }
  button{
    cursor: pointer;
    padding-center: 90px;
  }
